{% extends 'movies/base_template.html' %}

{% block content %}
  <div class="popular">
    <div class="popular-movies">
      <div class="row">
        <div class="col-xs-12">
          <h1>Current Top 10 Movies</h1>
        </div>
      </div>
      {% for movie in movies %}
        <div class="row top-info">
          <div class="top-number">
            {{ forloop.counter }}
          </div>
          <div class="top-image">
            <img src="{{ movie.image }}"></img>
          </div>
          <div class="top-title">
            <a href="/movies/{{ movie.id }}">
              {{ movie.title }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}