{% extends 'movies/base_template.html' %}

{% block content %}
  <div class="popular">
    <div class="popular-movies">
      <div class="row">
        <div class="col-xs-12">
          <h1>Current Top 10 Movies</h1>
        </div>
      </div>
      {% for movie in movies %}
        <a href="/movies/{{ movie.id }}" class="search-result-link">
          <div class="row top-info">
            <div class="top-number">
              {{ forloop.counter }}
            </div>
            <div class="top-image">
              <img src="{{ movie.poster_image }}"></img>
            </div>
            <div class="top-title">
              {{ movie.title }}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}