{% extends 'movies/base_template.html' %}

{% block content %}
  <div class="popular">
    <div class="popular-movies">
      <h1>Current Top 10 Movies</h1>
        <ol>
        {% for movie in movies %}
          <li>
            <div>
              <span>
                <img height="200" src="{{ movie.image }}"></img>
              </span>
              <span>
                <a href="/movies/{{ movie.id }}">
                  {{ movie.title }}
                </a>
              </span>
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}