body {
  padding-top: 165px;
}


/* index css */
.top-info {
  padding: 10px 0;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease;
}

.top-info:hover {
  background-color: #c5c5c5;
  transition: background-color 0.2s ease;
}

.search-result-link:hover {
  text-decoration: none;
}

.top-info .top-number {
  display: inline-block;
  width: 20%;

  font-weight: 600;
  color: #757575;
  text-align: center;
  vertical-align: middle;
}

.top-info .top-image {
  display: inline-block;
  width: 20%;
}
.top-image img {
  height: 200px;
}

.top-info .top-title {
  display: inline-block;
  width: 58%;
  vertical-align: middle;
  text-align: left;
  color: #333;
}

@media(min-width:768px) {
  body {
    padding-top: 50px;
  }
  .top-number {
    font-size: 56px;
  }
  .top-title {
    font-size: 28px;
  }

  .search-bar-container {
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
  }
}

/* search_bar css */
.search-label {
  color: #FFF;
  margin-bottom: 0px;
  vertical-align: middle;
}

.search-input {
  vertical-align: middle;
}

.search-btn {
  vertical-align: middle;
  margin-bottom: 15px;
}

@media(min-width:768px) {
  .search-btn {
    margin-bottom: 0px;
  }
}

/* search results css */
.search-results-row {
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: #f8f8f8;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.search-results-row:hover {
  background-color: #c5c5c5;
  transition: background-color 0.2s ease;
}

.search-results-img-container {
  display: inline-block;
  margin-right: 25px;
  min-width: 86px;
  /*width: 16%;*/
}

.poster-image {
  background-color: #f0f0f0;
}

.search-results.poster-image {
  height: 125px;
  width: 86px;
  line-height: 125px;
}

.poster-image.no-image {
  color: #B3B3B3;
  text-align: center;
  font-weight: 600;
}

.search-results-title-info {
  display: inline-block;
  font-size: 16px;
  width: 46%;
  color: #333;
}

@media(min-width:768px) {
  .search-results-title-info {
    width: 65%;
  }
}
.search-page-nav {
  margin-bottom: 50px;
}

/* details css */
.details-title-container {
  min-height: 250px;
  background-size: cover;
  background-color: #2b2b2b;
  color: #e8e8e8;
  position: relative;
}

.details-title-elements {
  position: absolute;
  bottom: 10px;
}

.details-movie-specs {
  font-size: 16px;
}

.details-poster-summary {
  margin: 15px 0;
  padding: 20px 0;
  background-color: #fdf8e5;
}

.details-poster {
  max-width: 150px;
}

.details-poster-image-container {
  text-align: center;
}

.details-summary h2 {
  margin-top: 0px;
}

.details-release-info {
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: #f0f0f0;
}